---
interface Props {
	title: string;
	author: string;
	timestamp: string;
}

const { title, author, timestamp } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content={`${title} - ${author}`} />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body class="flex flex-col gap-4 items-center p-16">
		<div class="flex flex-col gap-4 items-center">
			<h1 class="text-2xl font-bold">{title}</h1>
			<div class="flex items-center gap-2">
				<time datetime={timestamp}>{new Date(timestamp).toLocaleDateString("ja-JP", { year: "numeric", month: "long", day: "numeric" })}</time>
				<p>{author}</p>
			</div>
		</div>
		<slot />
	</body>
</html>
<style is:global>
	:root {
		--accent: 136, 58, 234;
		--accent-light: 224, 204, 250;
		--accent-dark: 49, 10, 101;
		--accent-gradient: linear-gradient(
			45deg,
			rgb(var(--accent)),
			rgb(var(--accent-light)) 30%,
			white 60%
		);
		* {
			color: #fff;
		}
	}
	html {
		font-family: system-ui, sans-serif;
		background: #13151a;
	}
	code {
		font-family:
			Menlo,
			Monaco,
			Lucida Console,
			Liberation Mono,
			DejaVu Sans Mono,
			Bitstream Vera Sans Mono,
			Courier New,
			monospace;
	}
</style>
