---
interface Props {
  title: string;
  author: string;
  timestamp: string;
}

const { title, author, timestamp } = Astro.props;
---

<!doctype html>
<html lang="ja" class="text-slate-900 bg-slate-200">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content={`${title} - ${author}`} />
    <meta name="viewport" content="width=device-width" />
    <meta name="author" content={author} />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body class="flex flex-col p-4 items-center">
    <div class="w-full max-w-screen-lg">
      <div class="flex flex-col items-center">
        <h1 class="text-2xl font-normal">{title}</h1>
      </div>
      <p class="text-sm flex justify-end gap-2">
        <time datetime={timestamp}
          >{
            new Date(timestamp).toLocaleDateString("ja-JP", {
              year: "numeric",
              month: "long",
              day: "numeric",
            })
          }</time
        >
        <span>{author}</span>
      </p>
      <main class="flex flex-col gap-4">
        <slot />
      </main>
    </div>
  </body>
</html>
<style is:global>
  html {
    font-family: "Helvetica Neue", "Helvetica", "Hiragino Sans",
      "Hiragino Kaku Gothic ProN", "Arial", "Yu Gothic", "Meiryo", sans-serif;
  }

  a {
    color: #1660af; /* blue */
    text-decoration: none;
  }
  a:hover {
    color: #4384c9; /* light blue */
  }
  a:visited {
    color: #6a1ba7; /* purple */
  }
  a:visited:hover {
    color: #9648d2; /* light purple */
  }
</style>
