---
interface Props {
	title: string;
	author: string;
	timestamp: string;
}

const { title, author, timestamp } = Astro.props;
---

<!doctype html>
<html lang="ja" class="text-white bg-slate-900">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content={`${title} - ${author}`} />
		<meta name="viewport" content="width=device-width" />
		<meta name="author" content={author} />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body class="flex flex-col p-4 items-center">
		<div class="w-full max-w-screen-md">
		<div class="flex flex-col items-center">
			<h1 class="text-2xl font-bold">{title}</h1>
		</div>
		<p class="text-sm flex justify-end gap-2">
			<time datetime={timestamp}>{new Date(timestamp).toLocaleDateString("ja-JP", { year: "numeric", month: "long", day: "numeric" })}</time>
			<span>{author}</span>
		</p>
		<main class="flex flex-col gap-4">
				<slot />
			</main>
		</div>
	</body>
</html>
<style is:global>
	html {
		font-family: "Helvetica Neue", "Helvetica", "Hiragino Sans", "Hiragino Kaku Gothic ProN", "Arial", "Yu Gothic", "Meiryo", sans-serif;
	}

	a {
		color: #98abf1;
	}
	a:visited {
		color: #e69dff;
	}
</style>
